<div class="cr px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <div class = "container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">
            Currency RUB/USD
          </h4>
        </div>
        <div id="card-body">
          <h1 class="card-title pricing-card-title">
            <div id="current">
              <%= @current %>          
            </div>
            <small class="text-muted">Rub for 1 Usd</small>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
